@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap%27");
.wic-container {
  width: 100%;
  padding: 0px 11.111vw;
}
@media (max-width: 1440px) {
  .wic-container {
    padding: 0px 160px;
  }
}
@media (max-width: 1080px) {
  .wic-container {
    padding: 0px 80px;
  }
}
@media (max-width: 768px) {
  .wic-container {
    padding: 0px 32px;
  }
}

.wic-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 998;
  background: none;
  mix-blend-mode: multiply;
  pointer-events: none;
  transition: background-color var(--transition-time);
}
.wic-overlay--active {
  background: #DBEEF0;
}

.wic-division {
  position: relative;
  background: var(--primary-secondary);
  height: 64px;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .wic-division {
    height: 32px;
  }
}
.wic-division__container {
  display: flex;
  justify-content: space-evenly;
}
.wic-division__container__item {
  display: flex;
  align-items: center;
  font-size: var(--fz-sm);
  line-height: 24px;
  color: var(--primary);
}
@media (max-width: 768px) {
  .wic-division__container__item {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0em;
  }
}
.wic-division__container__item > img {
  margin-right: 8px;
  width: 24px;
}
@media (max-width: 768px) {
  .wic-division__container__item > img {
    width: 20px;
  }
}
@media (max-width: 768px) {
  .wic-division__container__item--portes, .wic-division__container__item--pagamento {
    display: none;
  }
}
.wic-division__close {
  position: absolute;
  display: flex;
  align-items: center;
  right: 16px;
}
@media (max-width: 768px) {
  .wic-division__close > img {
    width: 16px;
  }
}

.section--hero {
  padding: 0px !important;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .section--hero {
    flex-direction: column-reverse;
  }
}
.section--hero .hero__container {
  position: relative;
  height: 480px;
}
@media (max-width: 768px) {
  .section--hero .hero__container {
    height: 320px;
  }
}
.section--hero .hero__container__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 100%;
  z-index: -1;
}
.section--hero .hero__container__background img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}
@media (max-width: 768px) {
  .section--hero .hero__container__background img {
    content: url("../../../images/hero_mobile.png");
  }
}
.section--hero .hero__container__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
@media (max-width: 768px) {
  .section--hero .hero__container__info {
    justify-content: flex-end;
  }
}
.section--hero .hero__container__info > h3 {
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  color: var(--white);
  max-width: 418px;
}
@media (max-width: 768px) {
  .section--hero .hero__container__info > h3 {
    font-size: 28px;
    line-height: 36px;
  }
}
.section--hero .hero__container__info > h1 {
  font-weight: 900;
  font-size: 80px;
  line-height: 96px;
  color: var(--white);
}
@media (max-width: 768px) {
  .section--hero .hero__container__info > h1 {
    font-size: 36px;
    line-height: 44px;
  }
}
.section--hero .hero__container__info > button {
  margin-top: 40px;
  max-width: 256px;
  height: 48px;
  font-weight: bold;
  font-size: var(--fz-md);
  line-height: 24px;
  letter-spacing: 0.0625em;
}
@media (max-width: 768px) {
  .section--hero .hero__container__info > button {
    max-width: 202px;
    padding: 4px;
    height: 32px;
    margin-top: 32px;
    margin-bottom: 40px;
    letter-spacing: 0.0625em;
  }
}
.section--hero .hero__container__info > button span {
  display: flex;
  align-items: center;
  height: 24px;
}
.section--hero .hero__container__info > button img {
  width: 16px;
  margin-left: 8px;
}
@media (max-width: 768px) {
  .section--hero .hero__container__info > button img {
    display: none;
  }
}

@media (max-width: 768px) {
  .section--products {
    padding: 40px 0px 0px 0px !important;
  }
}
.section--products__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section--products__item img {
  width: 64px !important;
}
@media (max-width: 768px) {
  .section--products__item img {
    width: 40px !important;
  }
}
.section--products__item span {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-primary);
  margin-top: 16px;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .section--products__item span {
    font-size: var(--fz-xs);
    line-height: 20px;
    margin-top: 8px;
  }
}
.section--products__mobile {
  padding: 0px 32px;
  display: none;
}
@media (max-width: 768px) {
  .section--products__mobile {
    display: block;
  }
}
.section--products__desktop {
  display: flex;
  flex-flow: column wrap;
  height: 384px;
}
@media (max-width: 768px) {
  .section--products__desktop {
    display: none;
  }
}
.section--products__desktop .row {
  display: flex;
  justify-content: center;
  height: 100%;
}
.section--products__desktop .row .col {
  padding: 0;
}
.section--products__desktop .row .col > :first-child {
  border-bottom: 1px solid var(--background-secondary);
  border-left: 1px solid var(--background-secondary);
}
.section--products__desktop .row .col > :last-child {
  border-left: 1px solid var(--background-secondary);
}
.section--products__desktop .row .col:first-child > :first-child,
.section--products__desktop .row .col:first-child > :last-child {
  border-left: 0;
}
.section--products__desktop .section--products__item {
  justify-content: center;
  height: 50%;
}

@media (max-width: 768px) {
  .section--highlights {
    padding: 80px 0px 40px 0px !important;
  }
}
.section--highlights .section__title h1::after {
  content: "PRODUTOS EM DESTAQUE";
}
@media (max-width: 768px) {
  .section--highlights .section__title h1::after {
    content: "EM DESTAQUE";
  }
}
.section--highlights__mobile {
  display: none;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
@media (max-width: 768px) {
  .section--highlights__mobile {
    display: flex;
  }
}
.section--highlights__mobile .product_item {
  flex: 1 1 calc(50% - 16px);
  margin: 8px;
  margin-bottom: 32px;
}
.section--highlights__mobile__see-more {
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.0625em;
  padding: 4px 0px !important;
}
.section--highlights__desktop {
  display: block;
}
@media (max-width: 768px) {
  .section--highlights__desktop {
    display: none;
  }
}

@media (max-width: 768px) {
  .section--offers {
    padding: 40px 0px 0px 0px !important;
  }
}
.section--offers__container {
  display: flex;
  height: 400px;
}
@media (max-width: 768px) {
  .section--offers__container {
    height: 240px;
  }
  .section--offers__container > img:last-child {
    width: auto;
  }
}
.section--offers__container > img {
  width: 100%;
  object-fit: cover;
}
.section--offers__container > img:first-child {
  width: auto;
}

.section--team {
  padding-bottom: 120px !important;
}
@media (max-width: 768px) {
  .section--team {
    padding-bottom: 40px !important;
  }
}
.section--team__carousel {
  margin-top: 64px;
}
@media (max-width: 768px) {
  .section--team__carousel {
    margin-top: 40px;
  }
}

.section {
  padding: 80px 0px 40px 0px;
}
@media (max-width: 768px) {
  .section {
    padding: 40px 0px 40px 0px;
  }
}
.section__title {
  padding: 0px 0px 32px 0px;
  border-bottom: 1px solid var(--background-tertiary);
  margin-bottom: 32px;
}
@media (max-width: 768px) {
  .section__title {
    padding: 0px 0px 24px 0px;
  }
}
.section__title > h1 {
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  color: var(--primary);
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .section__title > h1 {
    font-size: var(--fz-lg);
    line-height: 32px;
  }
}
.section .carousel:hover .flickity-button.previous,
.section .carousel .flickity-button.previous {
  left: -72px;
}
@media (max-width: 1080px) {
  .section .carousel:hover .flickity-button.previous,
.section .carousel .flickity-button.previous {
    left: -56px !important;
  }
}
@media (max-width: 768px) {
  .section .carousel:hover .flickity-button.previous,
.section .carousel .flickity-button.previous {
    left: 0px !important;
  }
}
.section .carousel:hover .flickity-button.next,
.section .carousel .flickity-button.next {
  right: -72px;
}
@media (max-width: 1080px) {
  .section .carousel:hover .flickity-button.next,
.section .carousel .flickity-button.next {
    right: -56px !important;
  }
}
@media (max-width: 768px) {
  .section .carousel:hover .flickity-button.next,
.section .carousel .flickity-button.next {
    right: 0px !important;
  }
}
@media (max-width: 1080px) {
  .section .carousel.small:hover .flickity-button.previous,
.section .carousel.small .flickity-button.previous {
    left: -32px !important;
  }
}
@media (max-width: 768px) {
  .section .carousel.small:hover .flickity-button.previous,
.section .carousel.small .flickity-button.previous {
    left: -32px !important;
  }
}
@media (max-width: 1080px) {
  .section .carousel.small:hover .flickity-button.next,
.section .carousel.small .flickity-button.next {
    right: -32px !important;
  }
}
.section .flickity-button {
  background: transparent !important;
  box-shadow: none;
}
.section .flickity-button.previous::before {
  content: url("../../../images/icons/carousel/40_arrow_left.svg");
}
@media (max-width: 768px) {
  .section .flickity-button.previous::before {
    content: url("../../../images/icons/carousel/arrow_left.svg");
  }
}
.section .flickity-button.next::before {
  content: url("../../../images/icons/carousel/40_arrow_right.svg");
}
@media (max-width: 768px) {
  .section .flickity-button.next::before {
    content: url("../../../images/icons/carousel/arrow_right.svg");
  }
}
.section .polo-carousel-item {
  display: flex;
  justify-content: center;
}

.header {
  background: var(--white);
}
.header__search-bar {
  position: relative;
  width: 100%;
}
.header__search-bar input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid var(--primary);
  font-weight: normal;
  font-size: 16px !important;
  line-height: 24px !important;
  padding: 16px 0px !important;
}
.header__search-bar__icon {
  position: absolute;
  right: 0;
  bottom: 50%;
  transform: translateY(50%);
}
.header__main {
  padding: 32px 0px;
  border-bottom: 1px solid #ECEEEE;
}
@media (max-width: 480px) {
  .header__main {
    padding: 28px 0px;
  }
}
.header__main__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__main__menu {
  display: none;
}
@media (max-width: 768px) {
  .header__main__menu {
    display: block;
  }
}
.header__main__menu img {
  width: 32px;
  fill: var(--primary);
}
@media (max-width: 480px) {
  .header__main__menu img {
    width: 24px;
  }
}
@media (max-width: 480px) {
  .header__main__logo img {
    height: 24px;
  }
}
.header__main__search {
  margin: 0px 48px;
}
@media (max-width: 768px) {
  .header__main__search {
    display: none;
  }
}
.header__main__buttons {
  display: flex;
}
.header__main__buttons__button img {
  width: 32px;
}
@media (max-width: 480px) {
  .header__main__buttons__button img {
    width: 24px;
  }
}
.header__main__buttons__button:not(:first-child) {
  margin-left: 24px;
}
@media (max-width: 480px) {
  .header__main__buttons__button:not(:first-child) {
    margin-left: 8px;
  }
}
@media (max-width: 768px) {
  .header__main__buttons__button--heart, .header__main__buttons__button--user {
    display: none;
  }
}
.header__main__buttons__button--search {
  display: none;
}
@media (max-width: 768px) {
  .header__main__buttons__button--search {
    display: block;
  }
}
.header__navbar__trigger {
  cursor: pointer;
}
@media (max-width: 768px) {
  .header__navbar__links {
    display: none;
  }
}
.header__navbar__links > ul {
  display: flex;
  height: 64px;
}
.header__navbar__links > ul li,
.header__navbar__links > ul a {
  font-weight: bold;
  font-size: var(--fz-md);
  line-height: 24px;
  color: var(--secondary);
  display: flex;
  align-items: center;
}
.header__navbar__links > ul li:hover, .header__navbar__links > ul li:focus, .header__navbar__links > ul li:active,
.header__navbar__links > ul a:hover,
.header__navbar__links > ul a:focus,
.header__navbar__links > ul a:active {
  color: var(--primary) !important;
}
.header__navbar__links > ul li img,
.header__navbar__links > ul a img {
  margin-right: 16px;
}
.header__navbar__links > ul li:not(:first-child) {
  margin-left: 80px;
}
@media (max-width: 1080px) {
  .header__navbar__links > ul li:not(:first-child) {
    margin-left: 32px;
  }
}
.header__navbar__links > ul li:last-child {
  margin-left: auto;
}
.header__navbar__links > ul li:last-child a {
  color: var(--primary) !important;
}
.header__navbar__links > ul li .header__navbar__trigger {
  font-weight: bold;
  font-size: var(--fz-md);
  line-height: 24px;
  color: var(--secondary);
  display: flex;
  align-items: center;
}
.header__navbar__links > ul li .header__navbar__trigger:hover, .header__navbar__links > ul li .header__navbar__trigger:focus, .header__navbar__links > ul li .header__navbar__trigger:active {
  color: var(--primary) !important;
}
.header__navbar__links > ul li .header__navbar__trigger img {
  margin-right: 16px;
}
.header__navbar__menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--white);
}
.header__navbar__menu__wrapper {
  padding: 32px 0px;
}
.header__navbar__menu__wrapper > :not(:last-child) {
  margin-bottom: 32px;
}
.header__navbar__menu__container {
  position: relative;
}
.header__navbar__menu__search {
  display: none;
  position: relative;
}
@media (max-width: 768px) {
  .header__navbar__menu__search {
    display: block;
  }
}
.header__navbar__menu__search input {
  padding: 8px 0px !important;
}
.header__navbar__menu__search__icon {
  width: 24px;
  height: 24px;
}
.header__navbar__menu__search__icon img {
  width: 100%;
  height: 100%;
}
.header__navbar__menu__dropdown {
  display: flex;
  align-items: flex-start;
}
@media (max-width: 768px) {
  .header__navbar__menu__dropdown {
    flex-direction: column;
    border-bottom: 1px solid #DEE1E2 !important;
  }
}
.header__navbar__menu__dropdown__toggle {
  position: relative;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: var(--secondary);
  text-align: start;
  text-transform: uppercase;
  padding: 16px 8px;
  width: 352px;
  border-bottom: 1px solid #DEE1E2 !important;
}
.header__navbar__menu__dropdown__toggle:hover, .header__navbar__menu__dropdown__toggle:focus, .header__navbar__menu__dropdown__toggle:active {
  color: var(--primary);
}
@media (max-width: 768px) {
  .header__navbar__menu__dropdown__toggle {
    border-bottom: none !important;
    width: 100%;
    padding: 16px 0px;
    color: var(--primary);
  }
}
.header__navbar__menu__dropdown__toggle span {
  margin-left: 24px;
  pointer-events: none;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .header__navbar__menu__dropdown__toggle span {
    margin-left: 16px;
  }
}
.header__navbar__menu__dropdown__toggle::after {
  content: url("../../images/icons/arrow_down.svg");
  width: 24px;
  height: 24px;
  position: absolute;
  right: 8px;
  bottom: 50%;
  transform: translateY(50%) rotate(-90deg);
  transition: transform var(--transition-time) ease-in-out;
}
@media (max-width: 768px) {
  .header__navbar__menu__dropdown__toggle::after {
    transform: translateY(50%);
  }
}
.header__navbar__menu__dropdown__menu {
  display: flex;
  flex-flow: column wrap;
  position: absolute;
  left: 480px;
  top: 0;
  height: 384px;
}
@media (max-width: 1080px) {
  .header__navbar__menu__dropdown__menu {
    left: 400px;
  }
}
@media (max-width: 768px) {
  .header__navbar__menu__dropdown__menu {
    position: initial;
    flex-flow: column nowrap;
    height: auto;
    padding-left: 48px;
  }
}
.header__navbar__menu__dropdown__menu li {
  margin: 8px 0px;
}
@media (max-width: 768px) {
  .header__navbar__menu__dropdown__menu li {
    margin: 4px 0px;
  }
}
.header__navbar__menu__dropdown__menu li a {
  color: var(--primary);
  font-weight: normal;
  font-size: var(--fz-md);
  line-height: 24px;
}
@media (max-width: 768px) {
  .header__navbar__menu__dropdown__menu li a {
    font-size: var(--fz-sm);
    line-height: 22px;
  }
}
.header__navbar__menu__dropdown__menu li a:hover, .header__navbar__menu__dropdown__menu li a:focus, .header__navbar__menu__dropdown__menu li a:active {
  color: var(--secondary) !important;
}
@media (max-width: 768px) {
  .header__navbar__menu__dropdown--active {
    padding-bottom: 40px;
  }
}
.header__navbar__menu__dropdown--active .header__navbar__menu__dropdown__toggle {
  color: var(--primary);
}
@media (max-width: 768px) {
  .header__navbar__menu__dropdown--active .header__navbar__menu__dropdown__toggle::after {
    transform: translateY(50%) rotate(180deg);
  }
}
.header__navbar__menu__links {
  display: none;
}
@media (max-width: 768px) {
  .header__navbar__menu__links {
    display: initial;
  }
}
.header__navbar__menu__links li:not(:last-child) {
  margin-bottom: 16px;
}
.header__navbar__menu__links li a {
  font-weight: bold;
  font-size: var(--fz-md);
  line-height: 24px;
  color: var(--text-secondary);
}

.topbar {
  background: var(--primary);
  color: var(--white);
}
.topbar__container {
  display: flex;
  justify-content: space-between;
  min-height: 40px;
  padding: 0px 11.111vw;
}
@media (max-width: 480px) {
  .topbar__container {
    min-height: 24px;
  }
}
.topbar__title {
  display: flex;
  align-items: center;
}
.topbar__title h1 {
  color: var(--white);
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.0625em;
  margin: 0;
  text-align: center;
}
@media (max-width: 768px) {
  .topbar__title {
    display: none;
  }
}
.topbar__socials {
  display: flex;
}
.topbar__socials li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
}
@media (max-width: 480px) {
  .topbar__socials {
    display: none;
  }
}
.topbar__contacts {
  display: flex;
  align-items: center;
  justify-content: center;
}
.topbar__contacts__item {
  display: flex;
  align-items: center;
}
.topbar__contacts__item:not(:first-child) {
  margin-left: 24px;
}
.topbar__contacts__item img {
  margin-right: 8px;
}
.topbar__contacts__item span {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  white-space: nowrap;
}
@media (max-width: 1080px) {
  .topbar__contacts {
    flex-direction: column;
  }
  .topbar__contacts__item:not(:first-child) {
    margin-left: 0px;
  }
}
@media (max-width: 768px) {
  .topbar__contacts {
    flex-direction: row;
  }
  .topbar__contacts__item:not(:first-child) {
    margin-left: 24px;
  }
}
@media (max-width: 480px) {
  .topbar__contacts {
    width: 100%;
  }
}

.navbar-popover--user-loggedin ul li {
  padding: 16px 0px;
}
.navbar-popover--user-loggedin ul li:not(:first-child) {
  border-top: 1px solid var(--background-tertiary);
}
.navbar-popover--user-loggedin ul li a {
  font-size: var(--fz-md);
  line-height: 24px;
  color: var(--text-primary);
}
.navbar-popover--user-loggedin .button {
  font-size: var(--fz-md);
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.0625em;
  margin-top: 28px;
  width: 100%;
  height: 40px;
}
.navbar-popover--user-signup p {
  margin-bottom: 16px !important;
  font-weight: normal;
  font-size: var(-fz-md);
  line-height: 24px;
  color: var(--text-primary);
}
.navbar-popover--user-signup button {
  padding: 8px 0px;
  width: 100%;
  font-weight: bold;
  font-size: var(-fz-md);
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.0625em;
}
.navbar-popover--user-signup button:first-of-type {
  margin-bottom: 24px;
}

.navbar-popover__body {
  padding-top: 0 !important;
}
.navbar-popover--favorites__product {
  position: relative;
  display: flex;
  align-items: center;
  padding: 16px 0px;
}
.navbar-popover--favorites__product__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: var(--background-primary);
}
.navbar-popover--favorites__product__image > img {
  width: 56px;
  height: 56px;
  mix-blend-mode: multiply;
}
.navbar-popover--favorites__product__info {
  padding-right: 28px;
  flex: 1;
  margin-left: 16px;
}
.navbar-popover--favorites__product__info__brand {
  font-weight: normal;
  font-size: var(--fz-xs);
  line-height: 20px;
  color: var(--text-secondary);
}
.navbar-popover--favorites__product__info__name {
  display: flex;
  font-weight: bold;
  font-size: var(--fz-md);
  line-height: 24px;
  color: var(--text-primary);
}
.navbar-popover--favorites__product__info__available {
  position: absolute;
  top: 40px;
  right: 12px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
.navbar-popover--favorites__product__info__available--unavailable {
  background: var(--danger);
}
.navbar-popover--favorites__product__info__available--available {
  background: var(--success);
}
.navbar-popover--favorites__product__info__ref {
  font-weight: normal;
  font-size: var(--fz-xs);
  line-height: 20px;
  color: var(--text-primary);
}
.navbar-popover--favorites__product__info__price {
  margin-top: 8px;
  font-weight: bold;
  font-size: var(--fz-md);
  line-height: 24px;
  color: var(--primary);
}
.navbar-popover--favorites .button {
  margin-top: 32px;
  height: 40px;
  padding: 8px 0px;
}
.navbar-popover--favorites-empty__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0px;
}
.navbar-popover--favorites-empty__wrapper > img {
  width: 80px;
  height: 80px;
}
.navbar-popover--favorites-empty__wrapper > h1 {
  font-weight: bold;
  font-size: var(--fz-lg);
  line-height: 28px;
  color: var(--secondary);
  margin-top: 16px;
}
.navbar-popover--favorites-empty__wrapper > p {
  font-weight: normal;
  font-size: var(--fz-md);
  line-height: 24px;
  text-align: center;
  color: var(--text-tertiary);
  margin-top: 4px;
}
.navbar-popover--favorites-empty .button {
  margin-top: 0px;
}

.navbar-popover__body {
  padding-top: 0 !important;
}
.navbar-popover--cart__product {
  position: relative;
  display: flex;
  padding: 16px 0px;
}
.navbar-popover--cart__product__image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: var(--background-primary);
}
.navbar-popover--cart__product__image > img {
  width: 56px;
  height: 56px;
  mix-blend-mode: multiply;
}
.navbar-popover--cart__product__info {
  padding-right: 28px;
  flex: 1;
  padding-left: 16px;
}
.navbar-popover--cart__product__info__brand {
  font-weight: normal;
  font-size: var(--fz-xs);
  line-height: 20px;
  color: var(--text-secondary);
}
.navbar-popover--cart__product__info__name {
  display: flex;
  font-weight: bold;
  font-size: var(--fz-md);
  line-height: 24px;
  color: var(--text-primary);
}
.navbar-popover--cart__product__info__available {
  position: absolute;
  top: 40%;
  right: 0px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transform: translateY(-50%);
}
.navbar-popover--cart__product__info__available--unavailable {
  background: var(--danger);
}
.navbar-popover--cart__product__info__available--available {
  background: var(--success);
}
.navbar-popover--cart__product__info__ref {
  font-weight: normal;
  font-size: var(--fz-xs);
  line-height: 20px;
  color: var(--text-primary);
}
.navbar-popover--cart__product__info__price {
  margin-top: 8px;
  font-weight: bold;
  font-size: var(--fz-md);
  line-height: 24px;
  color: var(--primary);
}
.navbar-popover--cart__product__info__counter {
  display: flex;
  margin-top: 16px;
}
.navbar-popover--cart__product__info__counter > * {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid var(--background-tertiary);
}
.navbar-popover--cart__product__info__counter > *:not(:last-child) {
  border-right: 0;
}
.navbar-popover--cart__product__info__counter__counter {
  font-size: var(--fz-md);
  line-height: 24px;
  text-align: center;
  color: var(--text-primary);
}
.navbar-popover--cart-empty__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0px;
}
.navbar-popover--cart-empty__wrapper > img {
  width: 80px;
  height: 80px;
}
.navbar-popover--cart-empty__wrapper > h1 {
  font-weight: bold;
  font-size: var(--fz-lg);
  line-height: 28px;
  color: var(--secondary);
  margin-top: 16px !important;
}
.navbar-popover--cart-empty__wrapper > p {
  font-weight: normal;
  font-size: var(--fz-md);
  line-height: 24px;
  text-align: center;
  color: var(--text-tertiary);
  margin-top: 4px;
}
.navbar-popover--cart-empty .button {
  margin: 0px !important;
}
.navbar-popover--cart .button {
  width: 100%;
}
.navbar-popover--cart .button:first-of-type {
  margin-top: 16px;
  margin-bottom: 8px;
}

.popover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 32px;
  max-width: none;
  width: 352px;
}
@media (max-width: 768px) {
  .popover {
    display: none;
  }
}
.popover-header {
  padding: 0px 0px 32px 0px;
}
.popover-body {
  padding: 32px 0px 0px 0px;
}
.popover .navbar-popover__title {
  font-weight: bold;
  font-size: var(-fz-md);
  line-height: 24px;
  color: var(--secondary);
}
.popover .navbar-popover__title img {
  margin-right: 16px;
}
.popover .button {
  font-weight: bold;
  font-size: var(--fz-md);
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.0625em;
  width: 100%;
}

.product_item {
  max-width: 256px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product_item__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F9F9F9;
  border-radius: 50%;
  transition: background-color var(--transition-time) ease;
}
.product_item__wrapper:hover {
  background: var(--primary-secondary);
}
.product_item__wrapper:hover .product_item__wrapper__add-cart {
  opacity: 1;
}
.product_item__wrapper__add-cart {
  position: absolute;
  font-weight: bold;
  font-size: var(--fz-md);
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.0625em;
  color: var(--white);
  padding: 8px 36px;
  background: var(--neutral);
  opacity: 0;
  transition: opacity var(--transition-time) ease;
}
.product_item__wrapper__add-cart:hover, .product_item__wrapper__add-cart:focus, .product_item__wrapper__add-cart:active {
  opacity: 1;
}
@media (max-width: 480px) {
  .product_item__wrapper__add-cart {
    font-size: var(--fz-xs);
    line-height: 16px;
    padding: 4px 16px;
  }
}
.product_item__wrapper__circle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: var(--white);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
@media (max-width: 768px) {
  .product_item__wrapper__circle {
    width: 40px;
    height: 40px;
  }
}
.product_item__wrapper__circle--wishlist {
  top: 0;
  left: 0;
}
.product_item__wrapper__circle--wishlist img {
  width: 32px !important;
}
@media (max-width: 768px) {
  .product_item__wrapper__circle--wishlist img {
    width: 22.86px !important;
  }
}
.product_item__wrapper__circle--discount {
  top: 0;
  right: 0;
}
.product_item__wrapper__circle--discount span {
  font-weight: bold;
  font-size: var(--fz-lg);
  line-height: 28px;
  text-align: center;
  color: var(--primary);
}
@media (max-width: 768px) {
  .product_item__wrapper__circle--discount span {
    font-size: var(--fz-md);
    line-height: 24px;
  }
}
.product_item__wrapper__circle--trash {
  bottom: 0;
  left: 0;
}
.product_item__wrapper__circle--trash img {
  width: 35.6px !important;
}
@media (max-width: 768px) {
  .product_item__wrapper__circle--trash img {
    width: 25.43px !important;
  }
}
.product_item__wrapper__circle--danger {
  bottom: 0;
  right: 0;
}
.product_item__wrapper__circle--danger::after {
  content: " ";
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: var(--danger);
}
@media (max-width: 768px) {
  .product_item__wrapper__circle--danger::after {
    width: 15px;
    height: 15px;
  }
}
.product_item__image {
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
}
.product_item__info {
  margin-top: 24px;
}
.product_item__info__type {
  font-size: var(--fz-md);
  line-height: 24px;
  text-align: center;
  color: var(--text-secondary);
}
@media (max-width: 768px) {
  .product_item__info__type {
    font-size: var(--fz-sm);
    line-height: 22px;
  }
}
.product_item__info__name {
  font-weight: bold;
  font-size: var(--fz-lg);
  line-height: 28px;
  text-align: center;
  color: var(--text-primary);
}
@media (max-width: 768px) {
  .product_item__info__name {
    font-size: var(--fz-md);
    line-height: 24px;
  }
}
.product_item__info__price {
  font-size: var(--fz-xl);
  line-height: 32px;
  text-align: center;
  color: var(--primary);
}
@media (max-width: 768px) {
  .product_item__info__price {
    font-weight: bold;
    font-size: var(--fz-lg);
    line-height: 28px;
  }
}
.product_item__info__price::before {
  content: "€ ";
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.team-member__photo {
  border-radius: 50%;
  width: 100%;
  max-width: 160px;
}
@media (max-width: 480px) {
  .team-member__photo {
    max-width: 125px;
  }
}
.team-member__photo img {
  width: 100%;
  height: 100%;
}
.team-member__info {
  margin-top: 23px;
}
.team-member__info__name {
  color: var(--primary);
  font-weight: bold;
  font-size: var(--fz-lg);
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .team-member__info__name {
    font-size: var(--fz-lg);
    line-height: 28px;
  }
}
.team-member__info__role {
  color: var(--text-primary);
  font-size: var(--fz-md);
  line-height: 24px;
  text-align: center;
}

.footer * {
  margin: 0;
}
.footer *:not(.wic-container) {
  padding: 0;
}
.footer__newsletter {
  display: flex;
  padding-top: 56px;
  padding-bottom: 25px;
}
@media (max-width: 768px) {
  .footer__newsletter {
    flex-direction: column;
  }
}
.footer__newsletter__info {
  font-weight: bold;
  font-size: var(--fz-lg);
  line-height: 28px;
  color: var(--text-primary);
  height: 48px;
  display: flex;
  align-items: center;
}
.footer__newsletter form {
  display: flex;
}
@media (max-width: 768px) {
  .footer__newsletter form {
    flex-direction: column;
  }
}
.footer__newsletter form .newsletter--group {
  margin: 0px 32px;
}
@media (max-width: 768px) {
  .footer__newsletter form .newsletter--group {
    margin: 0;
  }
}
.footer__newsletter form .button {
  padding: 12px 37px;
}
@media (max-width: 768px) {
  .footer__newsletter form .button {
    margin-top: 24px;
  }
}
.footer__newsletter form .input--email {
  width: 100%;
  border: 1px solid var(--background-tertiary);
  min-width: 250px;
}
.footer__newsletter form .input--email,
.footer__newsletter form .input--email::placeholder {
  font-weight: normal;
  font-size: var(--fz-md);
  line-height: 24px;
  color: var(--text-tertiary);
}
.footer__newsletter form .input--email,
.footer__newsletter form .button {
  height: 48px;
}
.footer__newsletter form .form-check {
  margin-top: 11px;
  display: flex;
  align-items: center;
}
.footer__newsletter form .form-check .form-check-input {
  width: 20px;
  height: 20px;
}
.footer__newsletter form .form-check .form-check-label {
  font-weight: normal;
  font-size: var(--fz-xs);
  line-height: 20px;
  color: var(--text-tertiary);
  margin: 0px 0px 0px 36px;
}
.footer__content {
  border-top: 1px solid var(--primary);
  padding-top: 82px !important;
  padding-bottom: 82px !important;
  margin-top: 32px;
}
@media (max-width: 768px) {
  .footer__content {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
  }
}
.footer__content .row {
  flex-wrap: nowrap;
}
.footer__content__info__logo img {
  height: 24px;
}
.footer__content__info p {
  font-weight: normal;
  font-size: var(--fz-sm);
  line-height: 24px;
  color: var(--text-secondary);
}
@media (max-width: 768px) {
  .footer__content__info p {
    line-height: 22px;
  }
}
.footer__content__info .info {
  margin: 42px 0px 0px 0px;
}
@media (max-width: 768px) {
  .footer__content__info .info {
    margin: 42px 0px;
  }
}
.footer__content__info .info > div:not(:last-child) {
  margin-bottom: 24px;
}
.footer__content__links {
  display: flex;
}
@media (max-width: 768px) {
  .footer__content__links {
    flex-direction: column;
  }
}
.footer__content__links .widget > .widget-title {
  position: relative;
  font-weight: bold;
  font-size: var(--fz-lg);
  line-height: 28px;
  color: var(--primary);
  margin-bottom: 40px !important;
}
@media (max-width: 768px) {
  .footer__content__links .widget > .widget-title {
    border-top: 1px solid #F9F9F9;
    padding: 16px 0px;
    margin-bottom: 0 !important;
    font-size: var(--fz-md);
    line-height: 24px;
  }
  .footer__content__links .widget > .widget-title::after {
    content: url("../../../images/icons/plus.svg");
    position: absolute;
    right: 6px;
    top: 16px;
  }
}
.footer__content__links .widget > .widget-list {
  overflow: hidden;
}
@media (max-width: 768px) {
  .footer__content__links .widget > .widget-list > ul {
    padding: 26px 0px 42px 0px;
  }
}
.footer__content__links .widget > .widget-list > ul > li {
  font-weight: normal;
  font-size: var(--fz-sm);
  line-height: 24px;
}
@media (max-width: 768px) {
  .footer__content__links .widget > .widget-list > ul > li {
    font-size: var(--fz-xs);
    line-height: 22px;
  }
}
.footer__content__links .widget > .widget-list > ul > li a {
  color: var(--text-secondary);
}
.footer__content__links .widget > .widget-list > ul > li a:hover {
  color: var(--neutral);
}
.footer__content__links .widget > .widget-list > ul > li:not(:last-child) {
  margin-bottom: 16px;
}
.footer__copyright {
  border-top: 1px solid var(--background-tertiary);
  padding: 20px 0px;
}
.footer__copyright * {
  font-weight: normal;
  font-size: var(--fz-xs);
  line-height: 20px;
  color: var(--text-primary);
}

:root {
  --primary: #21B2A6;
  --primary-secondary: #dbeef0;
  --secondary: #2e3842;
  --text-primary: #334243;
  --text-secondary: #5d7071;
  --text-tertiary: #7d8c8d;
  --background-primary: #F9F9F9;
  --background-secondary: #ECEEEE;
  --background-tertiary: #DEE1E2;
  --white: #ffffff;
  --danger: #bf403e;
  --success: #84D4A6;
  --caution: #DBD597;
  --neutral: #171C21;
  --fz-xs: 12px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 20px;
  --fz-xl: 24px;
  --transition-time: .3s;
}

body {
  min-width: 320px;
  font-size: var(--fz-md);
}
body * {
  font-family: "Barlow", sans-serif;
}
body ul {
  list-style: outside none none;
  margin: 0;
}
body header {
  position: relative;
  z-index: 999;
}
body button {
  border: 0;
  background: none;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p {
  margin: 0 !important;
  letter-spacing: 0em;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
}
.button--primary {
  background: var(--primary);
  color: var(--white);
  padding: 12px;
}
.button--secondary {
  background: var(--secondary);
  color: var(--white);
  padding: 12px;
}
.button--outline-primary {
  background: var(--white);
  color: var(--primary);
  border: 1px solid var(--primary);
  padding: 12px;
}
.button--outline-secondary {
  background: var(--white);
  color: var(--secondary);
  border: 1px solid var(--secondary);
  padding: 12px;
}

/*# sourceMappingURL=custom.css.map */
