.section--hero {
  padding: 0px !important;
  display: flex;
  flex-direction: column;
}
@media (max-width: 768px) {
  .section--hero {
    flex-direction: column-reverse;
  }
}
.section--hero .hero__container {
  position: relative;
  height: 480px;
}
@media (max-width: 768px) {
  .section--hero .hero__container {
    height: 320px;
  }
}
.section--hero .hero__container__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 100%;
  z-index: -1;
}
.section--hero .hero__container__background img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}
@media (max-width: 768px) {
  .section--hero .hero__container__background img {
    content: url("../../../images/hero_mobile.png");
  }
}
.section--hero .hero__container__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
@media (max-width: 768px) {
  .section--hero .hero__container__info {
    justify-content: flex-end;
  }
}
.section--hero .hero__container__info > h3 {
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  color: var(--white);
  max-width: 418px;
}
@media (max-width: 768px) {
  .section--hero .hero__container__info > h3 {
    font-size: 28px;
    line-height: 36px;
  }
}
.section--hero .hero__container__info > h1 {
  font-weight: 900;
  font-size: 80px;
  line-height: 96px;
  color: var(--white);
}
@media (max-width: 768px) {
  .section--hero .hero__container__info > h1 {
    font-size: 36px;
    line-height: 44px;
  }
}
.section--hero .hero__container__info > button {
  margin-top: 40px;
  max-width: 256px;
  height: 48px;
  font-weight: bold;
  font-size: var(--fz-md);
  line-height: 24px;
  letter-spacing: 0.0625em;
}
@media (max-width: 768px) {
  .section--hero .hero__container__info > button {
    max-width: 202px;
    padding: 4px;
    height: 32px;
    margin-top: 32px;
    margin-bottom: 40px;
    letter-spacing: 0.0625em;
  }
}
.section--hero .hero__container__info > button span {
  display: flex;
  align-items: center;
  height: 24px;
}
.section--hero .hero__container__info > button img {
  width: 16px;
  margin-left: 8px;
}
@media (max-width: 768px) {
  .section--hero .hero__container__info > button img {
    display: none;
  }
}

@media (max-width: 768px) {
  .section--products {
    padding: 40px 0px 0px 0px !important;
  }
}
.section--products__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section--products__item img {
  width: 64px !important;
}
@media (max-width: 768px) {
  .section--products__item img {
    width: 40px !important;
  }
}
.section--products__item span {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-primary);
  margin-top: 16px;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .section--products__item span {
    font-size: var(--fz-xs);
    line-height: 20px;
    margin-top: 8px;
  }
}
.section--products__mobile {
  padding: 0px 32px;
  display: none;
}
@media (max-width: 768px) {
  .section--products__mobile {
    display: block;
  }
}
.section--products__desktop {
  display: flex;
  flex-flow: column wrap;
  height: 384px;
}
@media (max-width: 768px) {
  .section--products__desktop {
    display: none;
  }
}
.section--products__desktop .row {
  display: flex;
  justify-content: center;
  height: 100%;
}
.section--products__desktop .row .col {
  padding: 0;
}
.section--products__desktop .row .col > :first-child {
  border-bottom: 1px solid var(--background-secondary);
  border-left: 1px solid var(--background-secondary);
}
.section--products__desktop .row .col > :last-child {
  border-left: 1px solid var(--background-secondary);
}
.section--products__desktop .row .col:first-child > :first-child,
.section--products__desktop .row .col:first-child > :last-child {
  border-left: 0;
}
.section--products__desktop .section--products__item {
  justify-content: center;
  height: 50%;
}

@media (max-width: 768px) {
  .section--highlights {
    padding: 80px 0px 40px 0px !important;
  }
}
.section--highlights .section__title h1::after {
  content: "PRODUTOS EM DESTAQUE";
}
@media (max-width: 768px) {
  .section--highlights .section__title h1::after {
    content: "EM DESTAQUE";
  }
}
.section--highlights__mobile {
  display: none;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 768px) {
  .section--highlights__mobile {
    display: flex;
  }
}
.section--highlights__mobile__content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.section--highlights__mobile__content .highlight_item {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 32px;
}
.section--highlights__mobile .product_item {
  flex: 1 1 calc(50% - 16px);
  margin: 8px;
  margin-bottom: 32px;
}
@media (max-width: 480px) {
  .section--highlights__mobile .product_item__image {
    width: 130px;
  }
}
.section--highlights__mobile__see-more {
  width: 100%;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.0625em;
  padding: 0;
  min-height: 32px !important;
  max-height: 32px !important;
}
.section--highlights__desktop {
  display: block;
}
@media (max-width: 768px) {
  .section--highlights__desktop {
    display: none;
  }
}
.section--highlights__desktop .highlight_item.col-6 {
  flex: none;
  max-width: none;
}

@media (max-width: 768px) {
  .section--offers {
    padding: 40px 0px 0px 0px !important;
  }
}
.section--offers__container {
  display: flex;
  height: 400px;
}
@media (max-width: 768px) {
  .section--offers__container {
    height: 240px;
  }
  .section--offers__container > img:last-child {
    width: auto;
  }
}
.section--offers__container > img {
  width: 100%;
  object-fit: cover;
}
.section--offers__container > img:first-child {
  width: auto;
}

.section--team {
  padding-bottom: 120px !important;
}
@media (max-width: 768px) {
  .section--team {
    padding-bottom: 40px !important;
  }
}
.section--team__carousel {
  margin-top: 64px;
}
@media (max-width: 768px) {
  .section--team__carousel {
    margin-top: 40px;
  }
}

.section {
  padding: 80px 0px 40px 0px;
}
@media (max-width: 768px) {
  .section {
    padding: 40px 0px 40px 0px;
  }
}
.section__title {
  padding: 0px 0px 32px 0px;
  border-bottom: 1px solid var(--background-tertiary);
  margin-bottom: 32px;
}
@media (max-width: 768px) {
  .section__title {
    padding: 0px 0px 24px 0px;
  }
}
.section__title > h1 {
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  color: var(--primary);
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .section__title > h1 {
    font-size: var(--fz-lg);
    line-height: 32px;
  }
}
.section .carousel:hover .flickity-button.previous,
.section .carousel .flickity-button.previous {
  left: -72px;
}
@media (max-width: 1080px) {
  .section .carousel:hover .flickity-button.previous,
.section .carousel .flickity-button.previous {
    left: -56px !important;
  }
}
@media (max-width: 768px) {
  .section .carousel:hover .flickity-button.previous,
.section .carousel .flickity-button.previous {
    left: 0px !important;
  }
}
.section .carousel:hover .flickity-button.next,
.section .carousel .flickity-button.next {
  right: -72px;
}
@media (max-width: 1080px) {
  .section .carousel:hover .flickity-button.next,
.section .carousel .flickity-button.next {
    right: -56px !important;
  }
}
@media (max-width: 768px) {
  .section .carousel:hover .flickity-button.next,
.section .carousel .flickity-button.next {
    right: 0px !important;
  }
}
@media (max-width: 1080px) {
  .section .carousel.small:hover .flickity-button.previous,
.section .carousel.small .flickity-button.previous {
    left: -32px !important;
  }
}
@media (max-width: 768px) {
  .section .carousel.small:hover .flickity-button.previous,
.section .carousel.small .flickity-button.previous {
    left: -32px !important;
  }
}
@media (max-width: 1080px) {
  .section .carousel.small:hover .flickity-button.next,
.section .carousel.small .flickity-button.next {
    right: -32px !important;
  }
}
.section .flickity-button {
  background: transparent !important;
  box-shadow: none;
}
.section .flickity-button.previous::before {
  content: url("../../../images/icons/carousel/40_arrow_left.svg");
}
@media (max-width: 768px) {
  .section .flickity-button.previous::before {
    content: url("../../../images/icons/carousel/arrow_left.svg");
  }
}
.section .flickity-button.next::before {
  content: url("../../../images/icons/carousel/40_arrow_right.svg");
}
@media (max-width: 768px) {
  .section .flickity-button.next::before {
    content: url("../../../images/icons/carousel/arrow_right.svg");
  }
}
.section .polo-carousel-item {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=homepage.css.map */
