.about-us{
    max-width: 544px;
    margin-top: 80px;
    margin-left: 448px;
    margin-bottom: 120px;

    >h5{
        
        font-family: Barlow;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        color: #21b2a6;

    }

    >p{
        margin-top: 32px !important;
        font-family: Barlow;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;

    }
}