.blog-news {
    max-width: 735px;
    margin-left: 352px;
    margin-right: 352px;
    margin-top: 80px;
        
    &__header {

        &__date{
            
            >span{
                
                font-family: Barlow;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
                color: #7D8C8D;


            }
        }
        &__socials{
            margin: auto;
            margin-right: 0px;

            >img{
                margin-right: 27px;
            }
            

        }

        &__title {
                    display: flex;
                    border-bottom: 1px solid #DEE1E2;
                    padding-bottom: 32px;
                
                    > h3{
                    font-family: Barlow;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 40px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #21b2a6;

        }
      }
    }

    &__content{

        >p{
            margin-top: 32px !important;
            font-family: Barlow;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
        }

        >h6{
            margin-top: 32px !important;
            font-family: Barlow;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: #21b2a6;

        }

        >:first-child{
            font-weight: bold;
        }

        >:last-child{
            color:#21b2a6;
        }
    }
  }

  .wic-division{
      margin-top: 120px;
  }









