@use './partials/wic/wic';
@use './partials/header/header';
@use './partials/product';
@use './partials/team-member';
@use './partials/footer/footer';

@import './partials/breakpoints';

:root {
  --primary: #21b2a6;
  --primary-secondary: #dbeef0;
  --secondary: #2e3842;
  --text-primary: #334243;
  --text-secondary: #5d7071;
  --text-tertiary: #7d8c8d;
  --background-primary: #F9F9F9;
  --background-secondary: #ECEEEE;
  --background-tertiary: #DEE1E2;
  --white: #ffffff;
  --danger: #bf403e;
  --success: #84D4A6;
  --caution: #DBD597;
  --neutral: #171C21;
  --fz-xs: 12px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 20px;
  --fz-xl: 24px;

  --transition-time: .3s;
}

body {
  min-width: 320px;

  font-size: var(--fz-md);


  * {
    font-family: "Barlow", sans-serif;
  }

  ul {
    list-style: outside none none;
    margin: 0;
  }

  header {
    position: relative;
    z-index: 999;
  }

  button {
    border: 0;
    background: none;
  }

  a:hover {
    color: var(--primary) !important;

    &.button {

      &--primary,
      &--secondary {
        color: var(--white) !important;
      }

      &--outline-primary {
        color: var(--primary);
      }

      &--outline-secondary {
        color: var(--secondary);
      }
    }
  }

  select {

    font-weight: normal !important;
    font-size: var(--fz-md) !important;
    line-height: 24px !important;

    color: var(--text-primary) !important;

    cursor: pointer;

    border: 1px solid var(--background-tertiary) !important;
    border-radius: 0 !important;

    background-image: url(../../../images/icons/arrow_down.svg) !important;
    background-position: calc(100% - 8px) center !important;


    &:focus {
      border-color: var(--primary) !important;

      box-shadow: 0 0 0 0.2rem rgb(33 178 166 / 25%) !important;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0 !important;
    letter-spacing: 0em;
  }
}



.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;

  &--primary {
    background: var(--primary);
    color: var(--white);
    padding: 12px;

  }

  &--secondary {
    background: var(--secondary);
    color: var(--white);
    padding: 12px;
  }

  &--outline-primary {
    background: var(--white);
    color: var(--primary);
    border: 1px solid var(--primary);
    padding: 12px;
  }

  &--outline-secondary {
    background: var(--white);
    color: var(--secondary);
    border: 1px solid var(--secondary);
    padding: 12px;
  }


}


.modal-backdrop {
  min-width: 320px;
  background-color: #DBEEF0;
  mix-blend-mode: multiply;

  height: 100%;

  &.show {
    opacity: 1;
  }
}

.section {
  padding: 80px 0px 40px 0px;


  @include tablet {
    padding: 40px 0px 40px 0px;
  }

  &__title {

    padding: 0px 0px 32px 0px;
    border-bottom: 1px solid var(--background-tertiary);
    margin-bottom: 32px;

    @include tablet {
      padding: 0px 0px 24px 0px;
    }

    >h1 {
      font-weight: bold;
      font-size: 32px;
      line-height: 40px;

      color: var(--primary);
      text-align: center;
      text-transform: uppercase;

      @include tablet {
        font-size: var(--fz-lg);
        line-height: 32px;
      }
    }


  }

  .carousel:hover,
  .carousel {
    .flickity-button {

      &.previous {
        left: -72px;

        @include laptop {
          left: -56px !important;
        }

        @include tablet {
          left: 0px !important;
        }
      }

      &.next {
        right: -72px;

        @include laptop {
          right: -56px !important;
        }

        @include tablet {
          right: 0px !important;
        }
      }

    }
  }

  // Used on products
  .carousel.small:hover,
  .carousel.small {
    .flickity-button {

      &.previous {
        @include laptop {
          left: -32px !important;
        }

        @include tablet {
          left: -32px !important;
        }
      }

      &.next {
        @include laptop {
          right: -32px !important;
        }
      }

    }
  }

  .flickity-button {
    background: transparent !important;
    box-shadow: none;

    &.previous {

      &::before {
        content: url('../../../images/icons/carousel/40_arrow_left.svg');

        @include tablet {
          content: url('../../../images/icons/carousel/arrow_left.svg');
        }
      }
    }

    &.next {
      &::before {
        content: url('../../../images/icons/carousel/40_arrow_right.svg');

        @include tablet {
          content: url('../../../images/icons/carousel/arrow_right.svg');
        }
      }
    }


  }

  .polo-carousel-item {
    display: flex;
    justify-content: center;
  }
}