@use './partials/wic/wic';
@use './partials/section/sections';
@use './partials/header/header';
@use './partials/product';
@use './partials/team-member';
@use './partials/footer/footer';
@use './partials/form';

@import './partials/breakpoints';

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap%27');

:root {
  --primary: #21B2A6;
  --primary-secondary: #dbeef0;
  --secondary: #2e3842;
  --text-primary: #334243;
  --text-secondary: #5d7071;
  --text-tertiary: #7d8c8d;
  --background-primary: #F9F9F9;
  --background-secondary: #ECEEEE;
  --background-tertiary: #DEE1E2;
  --white: #ffffff;
  --danger: #bf403e;
  --success: #84D4A6;
  --caution: #DBD597;
  --neutral: #171C21;
  --fz-xs: 12px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 20px;
  --fz-xl: 24px;

  --transition-time: .3s;
}

body {
  min-width: 320px;

  font-size: var(--fz-md);


  * {
    font-family: "Barlow", sans-serif;
  }

  ul {
    list-style: outside none none;
    margin: 0;
  }

  header {
    position: relative;
    z-index: 999;
  }

  button {
    border: 0;
    background: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0 !important;
    letter-spacing: 0em;
  }
}



.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  
  &--primary {
    background: var(--primary);
    color: var(--white);
    padding: 12px;
  }

  &--secondary{
    background: var(--secondary);
    color: var(--white);
    padding: 12px;
  }

  &--outline-primary{
    background: var(--white);
    color: var(--primary);
    border: 1px solid var(--primary);
    padding: 12px;
  }

  &--outline-secondary{
    background: var(--white);
    color: var(--secondary);
    border: 1px solid var(--secondary);
    padding: 12px;
  }

  
}