@use 'partials/topbar';
@use 'partials/header';

@import './partials/breakpoints';

:root {
  --primary: #21B2A6;
  --primary-secondary: #dbeef0;
  --secondary: #2e3842;
  --text-primary: #334243;
  --text-secondary: #5d7071;
  --text-tertiary: #7d8c8d;
  --white: #ffffff;
  --danger: #bf403e;
  --fz-xs: 12px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 20px;
  --fz-xl: 24px;

  --transition-time: .3s;
}

body {
  min-width: 320px;

  font-size: var(--fz-md);


  * {
    font-family: "Barlow", sans-serif;
  }

  ul {
    list-style: outside none none;
    margin: 0;
  }

  header {
    position: relative;
    z-index: 999;
  }
}


.wic-container {
  padding: 0px 11.111vw;

  @include desktop {
    padding: 0px 160px;
  }

  @include laptop {
    padding: 0px 80px;
  }

  @include tablet {
    padding: 0px 32px;
  }
}

.wic-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  z-index: 998;
  background: none;
  mix-blend-mode: multiply;

  pointer-events: none;

  transition: background-color var(--transition-time);

  &--active {
    background: #DBEEF0;
  }

}