@use './partials/wic/wic';
@use './partials/section/sections';
@use 'partials/header/header';

@import './partials/breakpoints';

:root {
  --primary: #21B2A6;
  --primary-secondary: #dbeef0;
  --secondary: #2e3842;
  --text-primary: #334243;
  --text-secondary: #5d7071;
  --text-tertiary: #7d8c8d;
  --white: #ffffff;
  --danger: #bf403e;
  --fz-xs: 12px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 20px;
  --fz-xl: 24px;

  --transition-time: .3s;
}

body {
  min-width: 320px;

  font-size: var(--fz-md);


  * {
    font-family: "Barlow", sans-serif;
  }

  ul {
    list-style: outside none none;
    margin: 0;
  }

  header {
    position: relative;
    z-index: 999;
  }

  button {
    border: 0;
    background: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0 !important;
    letter-spacing: 0em;
  }
}



.button {
  display: flex;
  justify-content: center;
  align-items: center;

  &--primary {
    background: var(--primary);
    color: var(--white);
    padding: 12px;
  }
}