@import './partials/breakpoints';


.section {

    &--image-divider {
        width: 100%;
        padding: 0;
        height: fit-content;

        &__image {
            height: 240px;
            width: 100%;

            >img {
                position: absolute;
                min-width: 100%;
                min-height: 100%;
                left: 50%;
                transform: translateX(-50%);

                @include tablet {
                    content: url("../images/recovery_divider_mobile.png");
                }
            }

            @include tablet {
                height: 160px;
            }
        }

    }

    &--recovery-form {
        padding-bottom: 152px;

        &__container {
            display: flex;
            justify-content: center;
        }

        &__wrapper {
            width: 356px;

            @include tablet {
                width: 311px;
            }
        }
    }

    &--recovery-successful {

        padding-bottom: 120px;

        &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            >img {
                width: 160px;
                height: 160px;

                @include phone {
                    width: 80px;
                    height: 80px;
                }
            }

            >h4 {
                font-weight: bold;
                font-size: var(--fz-xl);
                line-height: 32px;

                text-align: center;

                color: var(--secondary);

                margin-top: 16px !important;
            }

            >p {
                font-weight: normal;
                font-size: var(--fz-md);
                line-height: 24px;

                text-align: center;

                color: var(--text-secondary);

                margin-top: 16px !important;
            }

            >.button {
                margin-top: 40px;
                width: 352px;
                height: 40px;

                font-weight: bold;
                font-size: var(--fz-md);
                line-height: 24px;

                text-align: center;
                letter-spacing: 0.0625em;

                @include phone {
                    width: 200px;
                }
            }
        }

    }
}