@import '../breakpoints';

.blog-item {
    min-height: 548px;

    @include tablet {
        height: fit-content;
        min-height: 0px;

    }

    border: 1px solid var(--background-tertiary);

    &__image {
        position: relative;
        max-width: 100%;
        height: 320px;
        overflow: hidden;

        @include tablet {
            height: 222px;
        }

        >img {
            position: absolute;
            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);

            min-width: 100%;
            min-height: 100%;


        }
    }

    &__info {
        &__wrapper {
            padding: 24px 32px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            @include tablet {
                padding: 16px 16px;
            }

            >a {
                position: relative;
                margin-top: 24px !important;
                display: flex;
                justify-content: center;

                padding-right: calc(16px + 8px);

                color: var(--primary) !important;

                &::after {
                    content: url('../../../images/icons/arrow_right--green.svg');
                    position: absolute;
                    top: 50%;
                    transform: translateY(calc(-50% + 2px));
                    right: 0;
                }
            }
        }

        &__date {
            font-weight: normal;
            font-size: 12px;
            line-height: 20px;

            color: var(--text-tertiary);
        }

        &__title {
            font-weight: bold;
            font-size: var(--fz-xl);
            line-height: 28px;


            color: var(--primary);
        }

        &__text {
            margin-top: 16px !important;
            font-weight: normal;
            font-size: var(--fz-md);
            line-height: 24px;

            color: var(--text-tertiary);
            text-overflow: ellipsis;

            max-height: 72px;
            overflow: hidden;
            display: -webkit-box;
        }


    }
}