@mixin desktop {
    @media (max-width: 1440px) {
        @content;
    }
}

@mixin laptop {
    @media (max-width: 1080px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin phone {
    @media (max-width: 480px) {
        @content;
    }
}