@import './breakpoints';

.header {
    overflow: hidden;

    button {
        border: 0;
        background: none;
    }

    &__main {
        padding: 32px 0px;

        @include phone {
            padding: 28px 0px;
        }

        &__container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__menu {
            display: none;

            @include tablet {
                display: block;
            }

            img {
                width: 32px;

                @include phone {
                    width: 24px;
                }
            }
        }

        &__logo {
            img {
                @include phone {
                    height: 24px;
                }
            }

        }

        &__search {
            position: relative;

            width: 100%;
            margin: 0px 48px;

            @include tablet {
                display: none;
            }

            input {
                width: 100%;
                border: 0;
                border-bottom: 1px solid var(--primary);

                font-weight: normal;
                font-size: 16px !important;
                line-height: 24px !important;

                padding: 16px 0px !important;
            }

            &__icon {
                position: absolute;
                right: 0;
                bottom: 50%;
                transform: translateY(50%);
            }


        }

        &__buttons {
            display: flex;


            &__button {
                img {
                    width: 32px;

                    @include phone {
                        width: 24px;
                    }
                }


                &:not(:first-child) {
                    margin-left: 24px;

                    @include phone {
                        margin-left: 8px;
                    }
                }

                &--heart,
                &--user {
                    @include tablet {
                        display: none;
                    }
                }

                &--search {
                    display: none;

                    @include tablet {
                        display: block;
                    }
                }
            }

        }
    }
}