@import '../breakpoints';

.cart-item {

    @include tablet {
        padding-top: 24px;
        padding-bottom: 56px;
    }


    &__remove {
        width: 128px;
        text-align: center;
        position: relative;


        @include tablet {
            position: absolute;
            top: 0px;
            right: 0px;

            width: 24px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 24px;
            }
        }
    }

    &__product {
        width: 296px;

        @include phone {
            width: 213px;
        }

        &__wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__image {
            min-width: 96px;
            min-height: 96px;

            width: 96px;
            height: 96px;

            border-radius: 50%;
            background-color: var(--background-primary);


            display: flex;
            justify-content: center;
            align-items: center;

            margin-right: 64px;

            @include laptop {
                margin-right: 32px;
            }

            >img {
                width: 100%;
                height: 100%;

                mix-blend-mode: multiply;
            }
        }

        &__info {
            display: flex;
            flex-direction: column;

            &__brand {
                font-weight: normal;
                font-size: var(--fz-xs);
                line-height: 20px;

                color: var(--text-secondary);
            }

            &__name {
                font-weight: bold;
                font-size: var(--fz-md);
                line-height: 24px;

                color: var(--text-primary);
            }

            &__ref {
                margin-top: 8px;
                font-weight: normal;
                font-size: var(--fz-md);
                line-height: 24px;

                color: var(--text-primary);

                >strong {
                    color: var(--primary);
                }
            }

            &__available {
                margin-top: 8px;
                width: 16px;
                height: 16px;
                border-radius: 50%;

                &--unavailable {
                    background-color: var(--danger);
                }
                &--partial {
                    background-color: var(--caution);
                }
                &--available {
                    background-color: var(--success);
                }
            }
        }


    }

    &__price {

        min-width: 100px;
        text-align: center;
        
        @include tablet {
            display: none;
        }

        &::before {
            content: '€ '
        }
    }

    &__quantity {
        width: 200px;

        &__counter {
            display: flex;
            justify-content: center;

            >* {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 40px;
                height: 40px;

                border: 1px solid var(--background-tertiary);

                &:not(:last-child) {
                    border-right: 0;
                }
            }

            &__counter {
                font-size: var(--fz-md);
                line-height: 24px;
                width: 80px;
                text-align: center;
                color: var(--text-primary);

                @include tablet {
                    width: 40px;
                }
            }
        }

        @include tablet {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    &__total {
        width: 154px;
        min-width: 80px;
        font-weight: bold;
        font-size: var(--fz-lg);
        line-height: 28px;
        text-align: right;

        color: var(--primary);

        &::before {
            content: '€ '
        }


        @include tablet {
            position: absolute;
            top: 40px;
            right: 0px;
        }
    }
}