@import '../breakpoints';

.wic-alert {
    position: relative;

    display: flex;
    align-items: center;

    width: 100%;
    min-height: 40px;

    padding: 8px 40px 8px 24px;

    &__content {
        font-weight: normal;
        font-size: var(--fz-sm);
        line-height: 24px;


    }

    &__close {
        position: absolute;
        right: 16px;
        top: 8px;
         
        width: 24px;
        height: 24px;

        display: flex;
        align-items: center;
        justify-content: center;

        >img {
            width: 24px;
            height: 24px;
        }


    }

    &--danger {
        background-color: var(--danger);
        color: var(--white);

        >.wic-alert__close {
            >img {
                content: url("../../../images/icons/close.svg")
            }
        }

        >.wic-alert__content a{
            color: inherit !important;
        }
    }

    &--caution {
        background-color: var(--caution);
        color: var(--neutral);

        >.wic-alert__close {
            >img {
                content: url("../../../images/icons/close-neutral.svg")
            }
        }

        >.wic-alert__content a{
            color: inherit !important;
            border-bottom: 1px solid var(--neutral);
        }
    }

    &--info {
        background-color: var(--info);
        color: var(--white);

        >.wic-alert__close {
            >img {
                content: url("../../../images/icons/close.svg ")
            }
        }

        >.wic-alert__content a{
            color: inherit !important;
            border-bottom: 1px solid var(--white);
        }
    }

    &--success {
        background-color: var(--success);
        color: var(--white);

        >.wic-alert__close {
            >img {
                content: url("../../../images/icons/close.svg ")
            }
        }
    }
}