@import '../breakpoints';

.wic-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  
    z-index: 998;
    background: none;
    mix-blend-mode: multiply;
  
    pointer-events: none;
  
    transition: background-color var(--transition-time);
  
    &--active {
      background: #DBEEF0;
    }
  
  }