@use './container';
@use './overlay';
@use './division';
@use './form';
@use './alert';

@import '../breakpoints';

.wic-desktop {
    @include tablet {
        display: none;
    }
}

.wic-laptop {
    display: none;

    @include laptop {
        display: block;
    }
}

.wic-tablet {
    display: none;


    @include tablet {
        display: block;
    }
}

.wic-phone {
    display: none;


    @include phone {
        display: block;
    }
}