@import '../breakpoints';


.section--highlights {

    .section__title h1::after {
        content: 'PRODUTOS EM DESTAQUE';

        @include tablet {
            content: 'EM DESTAQUE';
        }
    }


    &__mobile {
        display: none;

        flex-wrap: wrap;
        width: 100%;
        justify-content: center;

        @include tablet {
            display: flex;
        }


        .product_item {
            flex: 1 1 calc(50% - 16px);
            margin: 8px;
            margin-bottom: 32px;
        }

        &__see-more {

            font-weight: bold;
            text-align: center;
            letter-spacing: 0.0625em;

            padding: 4px 0px !important;
        }
    }

    &__desktop {
        display: block;

        @include tablet {
            display: none;
        }
    }
}