@import '../breakpoints';

.section--offers{

    @include tablet {
        padding: 40px 0px 0px 0px !important;
    }

    &__container{
        display: flex;
        height: 400px; 

        @include tablet {
            height: 240px;

            >img {
                &:last-child{
                    width: auto;
                }
            }
        }

        >img {

            &:first-child{
                width: auto;
            }
            width: 100%;

            object-fit: cover;
        }
    }
}