@import '../breakpoints';

.section--products {

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;


        img {
            width: 64px !important;

            @include tablet {
                width: 40px !important;
            }
        }

        span {
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;

            color: var(--text-primary);
            margin-top: 16px;
            text-align: center;

            text-transform: uppercase;

            @include tablet {
                font-size: var(--fz-xs);
                line-height: 20px;
                margin-top: 8px;
            }
        }
    }

    &__mobile {
        padding: 0px 50px;
        display: none;

        @include tablet {
            display: block;
        }
    }

    &__desktop {
        display: flex;
        flex-flow: column wrap;
        height: 384px;



        @include tablet {
            display: none;
        }

        .row {
            display: flex;
            justify-content: center;

            height: 100%;

            .col {
                padding: 0;
                	
                >:first-child {
                    border-bottom: 1px solid var(--background-secondary);
                    border-left: 1px solid var(--background-secondary);
                }

                >:last-child {
                    border-left: 1px solid var(--background-secondary);
                }

                &:first-child{
                    >:first-child,
                    >:last-child{
                        border-left: 0;
                    }
                }
            }
        }

        

        .section--products__item {
            justify-content: center;

            
            height: 50%;
        }
    }

}