@use './hero-section';
@use './products-section';

@import '../breakpoints';

.section {
    padding: 80px 0px 40px 0px;


    .flickity-button {
        background: transparent !important;
        box-shadow: none;

        &.previous {
            &::before {
                content: url('../../../images/icons/carousel/40_arrow_left.svg');

                @include tablet {
                    content: url('../../../images/icons/carousel/arrow_left.svg');
                }
            }
        }

        &.next {
            &::before {
                content: url('../../../images/icons/carousel/40_arrow_right.svg');

                @include tablet {
                    content: url('../../../images/icons/carousel/arrow_right.svg');
                }
            }
        }


    }
}