@use './hero-section';
@use './products-section';
@use './highlights-section';

@import '../breakpoints';

.section {
    padding: 80px 0px 40px 0px;

    &__title {

        padding: 0px 0px 32px 0px;
        border-bottom: 1px solid var(--background-tertiary);
        margin-bottom: 32px;
         
        @include phone {
            padding: 0px 0px 24px 0px;
        }

        >h1 {
            font-weight: bold;
            font-size: 32px;
            line-height: 40px;

            color: var(--primary);
            text-align: center;
            text-transform: uppercase;

            @include phone {
                font-size: var(--fz-lg);
            }
        }

       
    }

    .carousel:hover,
    .carousel {
        .flickity-button {

            &.previous{
                left: -72px;

                @include laptop {
                    left: -56px !important;
                }
                
                @include tablet {
                    left: -40px !important;
                }
            }

            &.next {
                right: -72px;

                @include laptop {
                    right: -56px !important;
                }
            }
            
        }
    }

    .flickity-button {
        background: transparent !important;
        box-shadow: none;

        &.previous {
            
            &::before {
                content: url('../../../images/icons/carousel/40_arrow_left.svg');

                @include tablet {
                    content: url('../../../images/icons/carousel/arrow_left.svg');
                }
            }
        }

        &.next {
            &::before {
                content: url('../../../images/icons/carousel/40_arrow_right.svg');

                @include tablet {
                    content: url('../../../images/icons/carousel/arrow_right.svg');
                }
            }
        }


    }

    .polo-carousel-item{
        display: flex;
        justify-content: center;
    }
}